
.header {
  background-color: #0e2f5a;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the left side */
  padding-left: 20px;
}

.header-logo {
  height: 40px;
}
